@import "./_invalid/form__field_invalid.css";
@import "./_valid/form__field_valid.css";

.form__field {
    width: 358px;
    height: 27px;
    margin: 0 auto;

    margin-bottom: 29px;

    border-top:0;
    border-left:0;
    border-right:0;
}

.form__field:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 450px){
    .form__field{
        width:90%;
    }
}