.popup__container{
    width: max-content;
    height: max-content;
    
    margin:0 auto;
    display:grid;

    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 570px) {
    .popup__container{
        width:90%;
    }
}

