@import "./__logo/header__logo.css";
@import "./__vector/header__vector.css";
@import "./__line/header__line.css";

.header {
    width: 882px;
    height: 74px;
    margin: 0 auto;
        
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 45px;
    margin-bottom: 40px;
}

@media screen and (max-width: 881px){
    .header {
        width: 100%;
}