.element__group{
    width:20.76px;
    height: 18.13px;
    margin-top: 6px;

    background-color: white;
    background-image: url('../../../images/__graphics/graphics__group-like.png');
    background-size: contain;
    background-repeat: no-repeat;

    border:0;
}

.element__group:hover{
    opacity:0.3;
}