.profile__name-block{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    
    width: 100%;
}

@media screen and (max-width: 767px){
    .profile__name-block{
        justify-content: center;
    }
}

