.card__like-button_active{
    background-color: white;
    background-image: url('../../../../images/__graphics/graphics__like-button_active.svg');
}

.card__like-button_active:hover{
    cursor:pointer;
}