@import "./__rectangle/element__rectangle.css";
@import "./__image/element__image.css";
@import "./__text/element__text.css";
@import "./__title/element__title.css";
@import "./__group/element__group.css";
@import "./__group-like-active/element__group-like-active.css";
@import "./__delete-button/element__delete-button.css";

.element {
    width: 282px;
    height: 361px;

    padding:0;

}

